<div class="center-form">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h2>Gerenciamento de Hospedagem</h2>
    <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="custom-form">

        <nz-form-item>
            <nz-form-control [nzErrorTip]="'Por favor, insira seu nome!'">
                <nz-input-group nzPrefixIcon="idcard">
                    <input type="text" nz-input formControlName="name" placeholder="Digite seu nome">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="'Por favor, insira seu e-mail!'">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Digite seu e-mail">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="'Por favor, insira sua senha!'">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Digite sua senha">
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="registerForm.invalid" class="w-100">
            Criar Conta
        </button>
    </form>
</div>
